<div class="container">
    <div class="d-flex flex-column align-items-center m-5">
        <h1>Recipes for {{searchInput}}</h1>
    </div>
    <div class="container px-5">
        <div class="d-flex flex-column gap-4">
            <div *ngFor="let recipeItem of recipies" class="card" >
                <div class="row" style="cursor: pointer;">
                    <div class="col-2">
                        <img src="{{recipeItem.image}}" alt="{{recipeItem.label}}" class="img-fluid rounded"/>
                    </div>
                    <div class="col-10">
                        <div class="card-body">
                            <h5 class="card-title">{{recipeItem.label}}</h5>
                            <span *ngFor="let ingredient of recipeItem.ingredientLines">
                                &#8226; {{ingredient}} &nbsp;
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>
